body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	text-align: center;
	background-color: #dddddd;
}

h1 {
	font-size: 7.5vh;
}
h2 {
	font-size: 6vh;
}
h3 {
	font-size: 5vh;
}
h4 {
	font-size: 4vh;
}
h5 {
	font-size: 3vh;
}
h6 {
	font-size: 2vh;
}

input,
select,
option {
	display: block;
	margin: 10px auto;
	padding: 4px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-weight: normal;
}

img {
	height: 100px;
	width: 100px;
}

button {
	width: 150px;
	background: #111111;
	color: #ffffff;
	padding: 10px;
	margin: 20px auto;
	border: none;
	border-radius: 4px;
	font-size: 2vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	cursor: pointer;
	display: block;
}

.mainTitle {
	font-size: 7.5vh;
	color: #ff0000;
	animation-name: googleColours;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes googleColours {
	0% {
		color: #ff0000;
	}
	25% {
		color: #ffae00;
	}
	50% {
		color: #108600;
	}
	100% {
		color: #0066ff;
	}
}

/* Navbar (thanks to W3Schools!) */
.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;

	position: fixed;
	top: 0;
	width: 100%;
}

.navbarLink {
	float: left;
}

.navbarLink .navbarA {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbarLink .navbarA:hover {
	background-color: #111111;
}

.active {
	background-color: #04aa6d;
}

.credits {
	font-size: 1.25vh;
	padding: 5px;
}

.offlineCSS {
	outline: 5px solid #ff0000;
	background-color: #ffb0b0;
}

.toggleSteps {
	width: 150px;
	background: #111111;
	color: #ffffff;
	padding: 10px;
	margin: 20px auto;
	border: none;
	border-radius: 4px;
	font-size: 2vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	cursor: pointer;
	display: block;
}

.submitCommand {
	width: 100px;
	background: #111111;
	color: #ffffff;
	padding: 7.5px;
	margin: 15px auto;
	border: none;
	border-radius: 4px;
	font-size: 2vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	cursor: pointer;
	display: block;
}

.important {
	font-size: 20px;
	color: #ff0000;
}

.smartNote {
	font-size: 1.25vh;
}

.smallButton {
	width: 75px;
	background: #555555;
	color: #ffffff;
	padding: 5px;
	margin: 15px auto;
	border: none;
	border-radius: 4px;
	font-size: 1.5vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	cursor: pointer;
	display: block;
}

.time {
	font-size: 6vh;
	font-weight: bolder;
}

.collage {
	width: 950px;
	height: 500px;
}
