/* Coding styles for the Developer page */
/* @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@110,400&display=swap");

.hoverLink {
	color: lightblue;
	cursor: pointer;
}
.hoverLink:hover {
	color: blue;
}

.indent {
	text-indent: 50px;
}

.code {
	font-family: "Inconsolata", monospace;
	word-wrap: break-word;
}

.default {
	color: #cccccc;
}
.comment {
	color: #20836c;
}
.red {
	color: #d51e1c;
}
.orange {
	color: #ef901e;
}
.light-yellow {
	color: #e69f66; /* Change */
}
.yellow {
	color: #e6db74; /* Change */
}
.green {
	color: #8fec38;
}
.dark-green {
	color: #26d070;
}
.blue {
	color: #2fd4fd;
}
.purple {
	color: #a181f1;
}

.bright-yellow {
	color: #ffec44;
}
.grey {
	color: #6e6e6e;
}
